h2 {
    font-family: 'Kaushan Script', cursive;
    @include fontSize(60);
    color: $white;
}

.logInScreen {
    max-width: 25%;
    padding: 20px;
    background: $midGrey;
    margin: 250px auto;
    text-align: center;
    -webkit-box-shadow: 10px 10px 24px 5px rgba(0,0,0,0.18);
    -moz-box-shadow: 10px 10px 24px 5px rgba(0,0,0,0.18);
    box-shadow: 10px 10px 24px 5px rgba(0,0,0,0.18);
}

.svg-wrapper {
    height: 60px;
	margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 320px;
}

.shape {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: $pink;
}

.text,
.signOut {
    @include fontSize(20);
    letter-spacing: 8px;
    line-height: 32px;
    color: $white;
}

.text {
    position: relative;
    top: -48px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
}