header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    width: 90%;
    height: 100vh;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    letter-spacing: 4px;
    flex: 1 0 auto;
}

.userPhoto {
    border-radius: 100%;
    max-height: 75px;
    max-width: 75px;
    margin-right: 25px;
}

.greet {
    text-align: center;
}

.time, 
.greeting {
    color: $white;
    @include fontSize(50);
}

.date {
    color: $lightGrey;
    @include fontSize(40);
}