@import 'setup';
@import 'utils';
@import 'logIn';
@import 'main';
@import 'footer';

// font-family: 'Montserrat', sans-serif;
// font-family: 'Lora', serif;
// font-family: 'Hind Madurai', sans-serif;

body {
    font-family: 'Lora', serif;
    background-color: $black;
    height: 100vh;
}